# EditorConfig: https://EditorConfig.org

# top-most EditorConfig file
root = true

# All files
[*]
indent_style = space
indent_size = 4
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

# C/C++
[*.{cpp,c,hpp,h}]
charset = utf-8-bom  # for Visual Studio
